.course {
    max-width: 1520px;
    padding: 68px 200px 0 200px;
    a {
        text-decoration: none;
        color: black;
    }

    h1 {
        font-size: 48px;
        text-align: center;
        font-weight: 500;
        padding-bottom: 90px;
    }

    .coursCard {
        display: flex;
        align-items: center;
        gap: 120px;
        padding-bottom: 100px;

        p {
            font-size: 36px;
            font-weight: 500;
            max-width: 260px;
        }

        a {
            display: flex;
            padding: 15px 30px;
            background: #FC8F44;
            border-radius: 15px;
            border: none;
            color: #fff;
            text-align: center;
            text-decoration: none;
        }

        a:hover {
            color: #FC8F44;
            background: #fff;
            transition:  0.3s;
        }
    }
}