@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

.ProfileSetings {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    max-width: 1920px;

    .SetingsWrapper {
        max-width: 1090px;
        padding: 70px 410px 0 410px;
    }

    .SetingsCard {
        background: #EDF4F8;
        height: 405px;
        border-radius: 25px;
        margin-bottom: 20px;

        h2 {
            font-size: 26px;
            font-weight: 400;
            padding: 20px 0 15px 25px;

        }

        .SetingsCardInfo {
                display: flex;
                max-width: 1070px;
                background: #fff;
                height: 333px;
                border-radius: 25px;
                margin: 0 auto;

            .SetingsCardMidle {
                display: flex;
                flex-direction: column;
                gap: 20px 0;
                padding: 38px 100px 0 0;
                input {
                    border: 2px solid #EDF4F8;
                    width: 190px;
                    font-size: 24px;
                    font-weight: 400;
                    border-radius: 10px;
                }

                input:focus {
                    outline-color: #FC8F44;
                }

            }

            .SetingsCardLeft {
                display: flex;
                flex-direction: column;
                gap: 25px 0;
                padding: 40px 126px 0 25px;

                p {
                    font-weight: 300;
                }
            }

            .SetingsCardRight {
                padding-top: 32px;
                display: flex;
                text-align: center;

                .btnImage {
                    
                    font-size: 16px;    
                    width: 150px;
                    height: 50px;
                    padding: 0;
                }

                img {
                    border-radius: 50%;
                }
                
            }
        }
    }

    .SettingsDataCard {
        background: #EDF4F8;
        height: 290px;
        border-radius: 25px;
        margin-bottom: 20px;

        h2 {
            font-size: 26px;
            font-weight: 400;
            padding: 15px 0 15px 25px;

        }


        .SetingsCardDataInfo {
            display: flex;
            max-width: 1070px;
            background: #fff;
            height: 222px;
            border-radius: 25px;
            margin: 0 auto;

            .SetingsCardDataMidle {
                display: flex;
                flex-direction: column;
                gap: 25px 0;
                padding: 40px 360px 60px 0;
                input {
                    border: 2px solid #EDF4F8;
                    width: 190px;
                    font-weight: 300;
                    border-radius: 10px;
                    font-size: 24px;
                }

                input:focus {
                    outline-color: #FC8F44;
                }
            }

            .SetingsCardDataLeft {
                display: flex;
                flex-direction: column;
                gap: 30px 0;
                padding: 40px 126px 46px 25px;

                p {
                    font-weight: 300;
                }
            }
        }
    }

    .saveSetting {
        background: #FC8F44;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        text-decoration: none;
        padding: 15px 38px;
        max-width: 140px;
        border-radius: 15px;
        color: #fff;
    }

    .saveSetting:hover {
        color:#FC8F44;
        background:#fff;
        transition: .3s;
    }
}

label.label input[type="file"] {
    display: none;    
  }
  .label {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px;
    background: #EDF4F8;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .label:hover {
    background: #FC8F44;
    color: #fff;
    transition: .5s;
  }
  .label:active {
    background: #9fa1a0;
  }
  .label:invalid + span {
    color: #000000;
  }
  .label:valid + span {
    color: #ffffff;
  }
  .inputFile {
    font-size: 16px;
  }