.CourseEnBegin {
    max-width: 1620px;
    padding: 70px 150px 0  150px;

    .courseInfo {
        text-align: center;
        font-size: 36px;
        font-weight: 600;
        padding-bottom: 50px;
    }

    .contentText {
        font-size: 28px;
        font-weight: 400;
        padding-bottom: 80px;
    }

    .contentList {
        padding-bottom: 90px;

        h3 {
            font-size: 40px;
            font-weight: 500;
            padding-bottom: 30px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 30px 0;
            
            li {
                font-size: 24px;
                font-weight: 400;
            }
        }
    }
}