.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    p {
        color:#FC8F44;
        padding-bottom: 20px;
    }

    input {
		background: #eee;
		border-radius: 15px;
		border: none;
		padding: 12px 15px;
		margin: 8px 0;
		width: 100%;
		outline-color: #FC8F44;
        width: 300px;
        margin-bottom: 20px;
	}

  }
