@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


.ProfileData {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    max-width: 1920px;

    .DataWrapper {
        max-width: 1090px;
        padding: 70px 410px 0 410px;

        .DataTitle {
            padding-bottom: 45px;
            h1 {
                font-size: 40px;
                font-weight: 700;
                padding-bottom: 45px;
            }

            .DataSubtitle {
                display: flex;
                gap: 40px;
                
                a {
                    text-decoration: none;
                    color:#000;
                }
                a:hover {
                    color: #FC8F44;
                    transition: .3s;
                }
            }
        }

        .DataCard {
            background: #EDF4F8;
            height: 410px;
            border-radius: 25px;

            h2 {
                font-size: 26px;
                font-weight: 400;
                padding: 20px 0px 15px 25px ;
            }

            .DataCardInfo {
                display: flex;
                max-width: 1070px;
                background: #fff;
                height: 330px;
                border-radius: 25px;
                margin: 0 auto;

                .DataCardMidle {
                    display: flex;
                    flex-direction: column;
                    gap: 55px 0;
                    padding: 55px 360px 60px 0;
                    p {
                        border: 1px solid rgba(0, 0, 0, 0.6);
                        width: 30px;
                        font-weight: 300;
                    }
                }

                .DataCardLeft {
                    display: flex;
                    flex-direction: column;
                    gap: 25px 0;
                    padding: 40px 126px 46px 25px;

                    p {
                        font-weight: 300;
                    }
                }

                .DataCardRight {
                    padding-top: 80px;
                }
            }
        }
    }
}

