.AboutUs {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    max-width: 1920px;
}


.AboutUs {

    text-align: start;
    
    .about {
        max-width: 1745px;
        display: flex;
        gap: 140px;
        margin: 0 auto;

        img {
            margin-top: 90px;
        }

        .aboutLeft {
            max-width: 1040px;
            margin-bottom: 150px;

            h2 {
                padding-top: 100px;
                font-size: 52px;
                font-weight: 500;
                margin-bottom: 95px;
            }

            p {
                font-size: 36px;
                font-weight: 300;
            }
        }
    }

    .content {
        
        h1 {
            font-size: 56px;
            font-weight: 500;
            text-align: center;
            margin: 100px 0;
        }

        .contentImage {
            display: flex;
            gap: 90px;
            padding: 0 150px;
            margin-bottom: 190px;

            .contentCard {
                max-width: 480px;

                p {
                    font-size: 20px;
                    font-weight: 400;
                    margin-top: 25px;
                }
            }
        }
    }
    
}