body {
    .languageFour {
        max-width: 1620px;
        padding: 75px 200px 160px;
        background: #EDF4F8;

        h1 {
            font-size: 52px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 80px;
        }

        .language {
            display: flex;
            justify-content: space-between;
        
            .languageLeft, .languageRight {
                display: flex;
                flex-direction: column;
                gap: 100px 0;

                .LanguageCard {
                    display: flex;
                    gap: 65px;
                    align-items: center;
                    
                    p {
                        font-size: 40px;
                        font-weight: 5 00;
                    }
                }
            }
        }
    }

    .WhyLanguages {
        max-width: 1625px;
        padding: 50px 150px 130px;

        h2 {
            font-size: 52px;
            margin-bottom: 50px;
            text-align: center;
        }

        ol {
            display: flex;
            flex-direction: column;
            gap: 50px 0;

            li {
                font-size: 30px;
                font-weight: 300;
            }
        }
    }
}